.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.registration-form {
  width: 40%;
  margin: auto;
  z-index: 100;
  background-color: white;
}

form {
  width: 80%;
  max-width: 292px;
  margin: 48px auto 0;
}

label,
input {
  width: 99%;
  display: block;
}

ul {
  border-top: 1px solid grey;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  margin: 18px 30px;
}

.registration-links {
  display: inline;
}

.registration-submit-link {
  float: right;
}

.cancel {
  color: black;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  color: #069;
  cursor: pointer;
}
