.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.registration-form {
  min-width: 420px;
  max-width: 580px;
  width: 60%;
  margin: 25vh auto;
  z-index: 100;
  background-color: #ffffff;
}

form {
  display: flex;
}

.sidepanel-item {
  flex: 1;
  background-color: #f0f0f0;
}

.form-item {
  flex: 3;
  background-color: #f8f8f8;
  padding: 6px 24px;
}

.sidepanel-icon {
  width: 48px;
  margin: 24px;
}

label,
input {
  width: 99%;
  display: block;
  max-width: 272px;
}

ul {
  border-top: 1px solid #e8e8e8;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 18px 30px;
}

.registration-links {
  display: inline;
}

.registration-submit-link {
  float: right;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  color: #069;
  cursor: pointer;
}

.cancel {
  color: black;
  margin: 0;
}

@media all and (min-width: 992px) {
  .registration-form {
    width: 40%;
  }
}
