<div class="modal">
  <div class="registration-form">
    <form class="modal-form">
      <app-form-field labelText="Username" labelFor="username" inputType="text" inputName="username" inputId="username">
      </app-form-field>
      <app-form-field labelText="Password" labelFor="password" inputType="text" inputName="password" inputId="password"
        imgSrc="./assets/icon--eye-closed.svg" imgAlt="closed eye icon" featureText=" Hide">
      </app-form-field>
      <app-form-field labelText="Email" labelFor="email" inputType="email" inputName="email" inputId="email">
      </app-form-field>
      <div>
        <p (click)="onClick()">Cancel</p>
        <button type="submit">Register Account</button>
      </div>
    </form>
  </div>
</div>
