<div class="group">
  <img class="company-logo" src="/assets/logo--Gaggle.svg" alt="gaggle logo">
  <div class="sign-on-form">
    <form>
      <div class="input-label">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autofocus>
      </div>
      <div class="input-label">
        <label for="password">Password<span class="input-feature"><img src="/assets/icon--eye-closed.svg" alt="open-eye"
              srcset=""> Hide</span></label>
        <input type="text" name="password" id="password" />
      </div>
      <input type="checkbox" name="remember" id="remember">
      <label for="remember">Remember</label>
      <button type="submit">Sign On</button>
    </form>
  </div>
  <img class="coffee-lounge" src="/assets/hero-image.png" alt="coffee lounge">
</div>
