.register {
  width: 100%;
  position: absolute;
  bottom: 2vh;
  left: 0;
}

ul {
  width: 232px;
  margin: auto;
  padding-left: 0;
}

li {
  display: inline;
  list-style-type: none;
}

p {
  color: #235789;
  display: inline;
  margin: 0;
  padding: 0 5px;
}

li p:hover {
  cursor: pointer;
}

@media all and (min-width: 992px) {
  .register {
    width: 50%;
  }
}
