<div class="group">
  <div class="sign-on-form">
    <form>
      <app-form-field labelText="Username" labelFor="username" inputType="text" inputName="username" inputId="username">
      </app-form-field>
      <app-form-field labelText="Password" labelFor="password" inputType="text" inputName="password" inputId="password"
        imgSrc="./assets/icon--eye-closed.svg" imgAlt="closed eye icon" featureText=" Hide">
      </app-form-field>
      <input #remember type="checkbox" name="remember" id="remember">
      <label for="remember">Remember</label>
      <button type="submit">Sign On</button>
    </form>
  </div>
  <img class="coffee-lounge" src="/assets/hero-image.png" alt="coffee lounge">
</div>
