<div class="group">
  <div class="sign-on-form">
    <form>
      <app-form-field labelText="Username" inputType="text" inputId="username">
      </app-form-field>
      <app-form-field labelText="Password" inputType="password" inputId="password" imgSrc="./assets/icon--eye-open.svg"
        imgAlt="open eye icon" featureText=" Show">
      </app-form-field>
      <input #remember type="checkbox" name="remember" id="remember">
      <label for="remember">Remember</label>
      <button type="submit">Sign On</button>
    </form>
  </div>
  <img class="coffee-lounge" src="/assets/hero-image.png" alt="coffee lounge">
</div>
