.coffee-lounge {
  display: none;
}

form {
  width: 80%;
  max-width: 292px;
  margin: 40vh auto;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #235789;
  color: white;
  display: block;
  font-size: 1rem;
  margin: 12px auto;
  padding: 8px 0;
  width: 16vw;
  min-width: 80px;
}

@media all and (min-width: 496px) {
  form {
    width: 50%;
  }
}

@media all and (min-width: 992px) {
  button {
    width: 8vw;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  .coffee-lounge,
  .sign-on-form {
    display: flex;
    object-fit: cover;
    width: 50vw;
    height: 100vh;
  }
}
