<nav>
  <div class="group features">
    <div class="group-buttons nav-buttons">
      <div class="options">
        <button type="button"><i class="fas fa-search"></i><i class="fas fa-angle-right"></i></button>
        <div>Button 1</div>
      </div>
      <div class="options">
        <button type="button"><i class="fas fa-cloud-upload-alt"></i><i class="fas fa-angle-right"></i></button>
        <div>Button 2</div>
      </div>
      <div class="options">
        <button type="button"><i class="far fa-file"></i><i class="fas fa-angle-right"></i></button>
        <div>Button 3</div>
      </div>
    </div>
    <div class="group-selection selection">
      <div class="options">
        <i class="fas fa-filter"></i>
        <input type="text" name="filter" id="filter" placeholder="Find">
        <div>Filter by Keyword</div>
      </div>
      <div class="options">
        <button type="button"><i class="fas fa-download"><i class="fas fa-angle-down"></i></i></button>
        <div>Export</div>
      </div>
    </div>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th id="select"><span class="select"></span></th>
          <th id="date">Date</th>
          <th id="incident">Incident Type</th>
          <th id="status">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</nav>
<i class="fas fa-th"></i>
<img class="company-logo" src="/assets/logo--Gaggle.svg" alt="gaggle logo">
