<nav>
  <div class="group">
    <div class="group nav-buttons">
      <div class="options">
        <button type="button"><i class="fas fa-search"></i><i class="fas fa-angle-right"></i></button>
        <div>Button 1</div>
      </div>
      <div class="options">
        <button type="button"><i class="fas fa-cloud-upload-alt"></i><i class="fas fa-angle-right"></i></button>
        <div>Button 2</div>
      </div>
      <div class="options">
        <button type="button"><i class="far fa-file"></i><i class="fas fa-angle-right"></i></button>
        <div>Button 3</div>
      </div>
    </div>
    <div class="selection group">
      <div class="options">
        <i class="fas fa-filter"></i>
        <input type="text" name="filter" id="filter" placeholder="Find">
        <div>Filter by Keyword</div>
      </div>
      <div class="options">
        <button type="button"><i class="fas fa-download"><i class="fas fa-angle-down"></i></i></button>
        <div>Export</div>
      </div>
    </div>
  </div>
</nav>
<i class="fas fa-th"></i>
<img class="company-logo" src="/assets/logo--Gaggle.svg" alt="gaggle logo">
