<div class="input-label">
  <label for={{inputId}}>{{labelText}}
    <div class="input-feature">
      <img #inputFeatureIcon src={{imgSrc}} alt={{imgAlt}}>
      <span #inputFeatureText (click)="onClickTogglePassword()">
        {{featureText}}
      </span>
    </div>
  </label>
  <span *ngIf="error"><img src={{alertIcon}} alt="alert"></span>
  <input #input type={{inputType}} name={{inputId}} id={{inputId}} (keyup)="onChangeReceiveValue($event)" autofocus
    required>
  <div class="error-message" *ngIf="error">{{message}}</div>
</div>
