label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  font-size: 1.2rem;
  width: 16vw;
  min-width: 192px;
  max-width: 272px;
  outline: none;
}

input[type="checkbox"] {
  margin-left: 0;
}

.input-label {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px #d3d3d3;
  padding: 0 9px 3px;
  margin-bottom: 12px;
  min-width: 202px;
}

.input-feature {
  float: right;
}

.error-message {
  color: #ba274a;
  font-size: 12px;
}
